@model UESTicketsProject.Data.Models.NuevoTicket

@{
    Layout = "~/Views/Shared/_ReporterLayout.cshtml";
}

<div class="row">
    <div>
        <h1 class="page-header"  style="color:seagreen">Crear Tickets</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
        <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("CrearTicketResponse", "Reporter", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label style="color:seagreen">Titulo:</label>
                                @Html.TextBoxFor(x => x.Ticket.Titulo, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label  style="color:seagreen">Description:</label>
                                @Html.TextAreaFor(x => x.Ticket.Descripcion, new { @class = "form-control" })
                            </div>
                            <div class="form-group"  style="color:seagreen">
                                <label  style="color:seagreen">Prioridad:</label>
                                @Html.DropDownListFor(m => m.Ticket.PrioridadId, new SelectList(Model.Prioridades, "Id", "Nombre"), new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-default" style="background-color:seagreen;color:aliceblue"   >Guardar</button>
                            <button type="reset" class="btn btn-default" style="background-color:seagreen;color:aliceblue">Limpiar</button>
                        }

                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


